<ul class="pagination">
  <li><a class="pages" href="#">1</a></li>
  <li><a class="pages" href="blog?pg=2">2</a></li>
  <li><a class="pages" href="blog?pg=3">3</a></li>
  <li><a class="pages" href="blog?pg=4">4</a></li>
  <li><a class="pages" href="blog?pg=5">5</a></li>
  <li><a class="pages" href="blog?pg=6">6</a></li>
  <li><a class="pages" href="blog?pg=7">7</a></li>
  <li><a class="pages" href="blog?pg=8">8</a></li>
  <li><a class="pages" href="blog?pg=9">9</a></li>
  <li><a class="pages" href="blog?pg=2">Proxima</a></li>
  <li><a class="pages" href="blog?pg=1059">Última »»</a></li>
</ul>
