<app-navbar></app-navbar>

<div class="login">
  <section class="section-login">
    <h1>Login:</h1>
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Senha">
    <button>Entrar</button>
  </section>
  <section class="section-signup">
    <h1>Cadastre-se:</h1>
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Usuário">
    <input type="text" placeholder="Nome">
    <input type="text" placeholder="Senha">
    <button>Cadastrar</button>
  </section>
</div>

<app-footer></app-footer>
