<app-navbar></app-navbar>

<div id="wrapper">
  <div class="body-content">
    <div class="post">
      <div class="container">
        <div class="main-container">
          <h2>
            <a href="/"> Portal Incria inicia suas atividades</a>
          </h2>
          <img class="incria" src="../../../assets/student.jpg" alt="Incria" />
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>

        <div class="information-post">
          <div class="comment">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path
                fill="#38b6ff"
                d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
              />
            </svg>
            <span>Excelente texto!</span>
          </div>
          <div class="comment">
            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
              <path
                fill="#38b6ff"
                d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"
              />
            </svg>
            <span>Adorei o post!</span>
          </div>
        </div>
        <div class="add-comment">
          <input type="comentários" placeholder="Adicionar Comentário" />
          <button>Adicionar</button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
