.navbar {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: #38b6ff;
  .logo-main {
    display: flex;
    align-items: center;

    img {
      margin-left: 30px;
      max-width: 100%;
      width: 50px;
      height: 50px;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 28px;
    margin-left: 20px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: white
    }
    span {
      color: #ff5757;
    }
  };
  ul {
    list-style-type: none;
    display: flex;
    grid-gap: 15px;
    font-size: 20px;
    li a {
      text-transform: uppercase;
      color: white;
      text-decoration: none;
    }
    li a:hover {
      text-decoration: none;
      border-bottom: 1px solid #ff5757;
      color: #ff5757;
    }
  }
}
