footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #38b6ff;
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  ul {
    list-style-type: none;
  }
  
  .social-media svg {
    cursor: pointer;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
  }

  .email {
    display: flex;
    align-items: center;
  }

  .email span,
  .address span {
    margin-left: 5px;
    color: white;
  }

  .address {
    display: flex;
    align-items: center;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    input {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid transparent;
    }
    h2 {
      color: white;
    }
  }
}
